@import "http://fonts.googleapis.com/css?family=Raleway";

/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#abc {
    background-color: #343434;
    display: none;
    height: 100%;
    left: 0;
    opacity: .95;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;

}

#xyz {
    background-color: #313131;
    display: none;
    height: 100%;
    left: 0;
    opacity: .95;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
}

img#close {
    cursor: pointer;
    position: absolute;
    right: -14px;
    top: -14px;
}

div#popupContact {
    background-image: url('../img/popup.jpg');
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    left: 50%;
    margin-left: -202px;
    position: absolute;
    top: 17%;
}

#form1 {
    border-radius: 10px;
    font-family: raleway;
    max-width: 500px;
    min-width: 250px;
    padding: 10px 50px;
}

#name {
    background-position: 5px 7px;
    background-repeat: no-repeat;
}

#email {
    background-position: 5px 7px;
    background-repeat: no-repeat;
}

textarea {
    background-position: 5px 7px;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    font-family: raleway;
    font-size: 16px;
    height: 95px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 10px;
    padding-left: 40px;
    resize: none;
    width: 82%;
}

#submit1 {
    background-color: #FFBC00;
    border: 1px solid #FFCB00;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

span {
    color: #ab3b26;
    font-weight: 900;
}

button {
    background-color: #cd853f;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    height: 45px;
    width: 10%;
}

.division {
    height: 100px;
    width: 50%;
}

.back-to-top {
    bottom: 20px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 20px;
}

.highlght {
    background-color: #f8ff2e;
}

.boxed {
    border: 1px solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
